.cart{
  margin-top: 10px;

}
.cart h1{
  font-size: max(2vw, 30px);
  color: black;
  margin-bottom: 20px;
  text-shadow: 4px 2px 0px rgba(77, 218, 249, 0.829);
}
.cart-items-title{
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  color: grey;
  font-size: max(1vw,12px);
}
.cart-items-item{
  margin: 10px 0px;
  color: black;
}
.cart-items{
  border: 1px solid lightblue;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: whitesmoke;
}
#quantityChange {
  outline: 2px solid transparent; 
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
  padding: 10px;
  width: 60px;
  border: none; /* Added border to make it visible */
  background-color: whitesmoke;

}

.cart-items-item img{
  width: 50px;
}
.cart hr{
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}
.cart-items-item .cross{
  cursor: pointer;
}
.cart-bottom{
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: max(12vw,20px);

}
.cart-total{
  flex: 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-total-details{
  display: flex;
  justify-content: space-between;
  color: #555;
}
.cart-total hr{
  margin: 10px 0px;

}
.cart-total button{
  border: none;
  color: black;
  background-color: lightblue;
  width: max(100%,200px);
  font-size: 15px;
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
}
.cart-promocode{
  flex: 1;
}
.cart-promocode p{
  color: #555;
}
.cart-promocode-input{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
}
.cart-promocode-input input{
  background: transparent;
  border:  none;
  outline: none;
  padding-left: 10px;
}
.cart-promocode-input button{
  width: max(10vw,150px);
  padding: 12px 5px;
  background-color: lightblue;
  border: none;
  font-size: 15px;
  color: black;
  border-radius: 4px;

}
@media (max-witdh:750px) {
  .cart-bottom{
      flex-direction: column-reverse;
  }
  .cart-promocode{
      justify-content: start;
  }
}