.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.explore-menu h1 {
  color: #262626;
  font-weight: 500;
  text-shadow: 4px 2px 0px rgba(77, 218, 249, 0.829);
}
.explore-menu-text {
  max-width: 10%;
  color: black;
}
.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-align: center;
  margin: 20px 110px;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}
.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 60px;
  cursor: pointer;
  border-radius: 50%; 
  transition: 0.2s;
}
.explore-menu-list-item p {
  margin-top: 20px;
  color: black;
  font-size: max(20px, 16px);
  cursor: pointer;
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}
.explore-menu-list-item .active {
  border: 2cap solid lightblue;
  padding: 2px;
  transition: 0.2s;
}
@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
.explore-menu-list-item img:hover{
  transform: scale(1.27);
}