.contact-form {
  border: 1px solid lightblue;
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  border-radius: 8px;
}
.contact h1{
    margin-bottom: 15px;
    text-shadow: 4px 2px 0px rgba(77, 218, 249, 0.829);
}
.contact {
    justify-content: end;
    margin-top: 20px;
}
.input-field {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-field input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
}

.input-field button {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
}
.name-field {
  display: flex;
}
.name-field input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  width: 35%;
  margin-left: 50px;
}
.header-name {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-left: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 80%;
}
.header-email {
  margin-top: 15px;
  margin-left: 50px;
}
.header-phone {
  margin-left: 50px;
}
.header-context {
  margin-left: 50px;
}
button {
  width: 40%;
}
textarea {
  border: 1px solid #c9c9c9;
  width: 80%;
  border-radius: 6px;
  padding: 15px;
  margin: auto;
}
