.my-orders{
    margin: 50px 0px;
}
.my-orders .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.my-orders-orders{
    display: grid;
    grid-template-columns:0.5fr 1fr 1fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: black;
    border: 2px solid grey;
}
.my-orders-orders img{
    width: 50px;
}
.my-orders-orders p span{
    color: lightblue;
    padding: 5px;
}
.my-orders p b {
    font-weight: 500;
    color: #454545;
    padding: 20px;
}
.my-orders-orders button{
    border: none;
    padding: 12px 0px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #454545;
    color: white;
}
.my-orders h2{
    margin-top: 50px;
}

@media (max-width:900px) {
    .my-orders-orders{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
    .my-orders-orders button{
        font-size: 10px;
    }
}
