.navbar {
  padding: 15px 0px;
  display: flex;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 1s;
  border-radius: 12px;
  background-color: rgb(225, 239, 245); 
  position: fixed; 
  z-index: 1000; 
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}
#navbarText1{
  font-size: 30px;
  color: #49557e;
  font-weight: 600;
  margin-left: 20px;
  position: relative;
  left: 200px;
  text-shadow: 4px 2px 0px rgba(77, 218, 249, 0.829);
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}

.navbar .logo {
  width: 100px;
  transition: transform 0.3s ease;
  margin-left: 200px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  position: fixed;
  gap: 20px;
  left: 800px;
  color: rgba(0, 0, 0, 0.792);
  font-size: 22px;
  transition: all 0.3s ease;
}
.userName{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: end;
  width: 300px;
  text-decoration: underline;

}
.userNamerR{
  display: flex;
}
#userNamerRP{
  text-decoration: none;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 150px;
}
.navbar button {
  background: transparent;
  font-size: 16px;
  color: black;
  background-color: rgb(225, 239, 245);
  padding: 10px;
  width: 100px;
  border: 1px solid lightblue;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 40px;
  transition: all 0.3s ease;
}

.navbar button:hover {
  background-color: #fff4f2;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: lightblue;
  border-radius: 5px;
  top: -8px;
  right: 0;
}

.navbar-profile {
  position: relative;
}
.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}
.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px;
  border-radius: 4px;
  border: 1px solid lightblue;
  outline: 2px solid white;
  list-style: none;
}

.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown li:hover {
  color: lightblue;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 25px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 18px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
.navbar-menu a:hover{
  transform: scale(1.24);
}
.navbar-right img:hover{
  transform: scale(1.4);
}
.navbar-right button:hover{
  transform: scale(1.15);
}
.navbar img:hover{
  transform: scale(1.14);
}
